*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*Login*/
.login{
    background-color: gray;
    display: flex;
    flex-direction: row;
}
.contenedorFormulario{
    width: auto;
    height: auto;
    border: solid 5%;
    border-radius: 7%;
    background-color: aqua;
}
.boxFormulario{
    display: flex;
    width: 25vw;
    height: 4vw;
    align-items: center;
    flex-direction: column;
    margin-right: 50%;
}
.labelFormulario{
    font-size: 150%;  
}   
.formularioInput{
    width: 100%;
    height: 36px;
    border: solid 2px black;
    border-radius: 12px;
}
.logoLogin{
    background-color: black;
}
.logo{
    width: 40vw;
    color: black;
    display: flex;
}
.botonIngresar{
    background-color: white;
    border-width: 0px;
    border-radius: 12px;
    height: 36px;
    width: 100%;
    color: black;
    transition: 500ms color;
    transition: 500ms background-color;
}
/*Register*/
.BodyRegister{
    height: 500px;
    background-color: black;
    background-image: url("/public/img/CSCMedblanco (1).png");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;


}
.contenedorFormularioRegister{
    width: 20vw;
    height: auto;
    border: solid 5%;
    border-radius: 7%;
    background-color:silver;
    
}