/* Body*/
*{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

/* .bodymain{
    background-color: silver;
} */

/* Header */
/* .header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
} */
/* .logoMain{
    margin: 1% 0% 1% 4%;
    width: 20%;
    background-color: black;
} */
/* .main-top{
    font-size: x-large;
    padding-left: 5%;
    width: 50%;
    background-color: black;
    display:  flex;
    align-items: center;
    justify-content: space-around;
}
.selector{
    color: silver;
    text-decoration: none;
} */

/* Main */

/* .publicaciones{
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.publicaciones div{
    border: solid 15px #ebebeb;
    display:block
}
.articulo i{
    display: flex;
    flex-direction: column;
}
.publicaciones div img{
    width: 30vw;
    margin: auto;
} */
/* Footer */

/* .footer{
    color: silver;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    flex-direction: column;
    align-items: center;

}
.contenedorAliados{
    display: flex;
    width: 80%;
    justify-content: space-around;
}  */