<%-include('./header')%>
<section class="containerAdmincenter">
    <div class="titulosAC">
    <h1 >¡Hola! Bienvenido al centro de administracion</h1>
    <h4>Elige entre las siguientes opciones</h4>
    </div>
<div class="botonesAC">
    <div class="ContenedorBotones">
    <a href="/cout">
        <input class="botonAC" type="submit" value=" Ver cantidad de usuarios">
    </a>
    </div>
    <div class="ContenedorBotones">
    <a href="/admin/view">
        <input class="botonAC" type="submit" value="Modificar Usuarios Comunes">
    </a>
    </div>
    <div class="ContenedorBotones">
    <a href="/admin/register">
        <input class="botonAC" type="submit" value="Registrar Usuarios Nuevos">
    </a>
    </div>
    <div class="ContenedorBotones">
    <a href="/profile">
        <input class="botonAC" type="submit" value="Salir del centro de administracion">
    </a>
    </div>
    </div>
</section>
<%-include('./footer')%>