<%-include('./header') %>
<section class="contenedorcout">
<section class="cout">
    <div>¡Hola! En el momento hay :</div>
    <div><%=cout%> Usuarios registrados en el sistema</div>
</section>
</section>
<%-include('./footer') %>