<%-include('./header')%>
<section class="containerAdmincenter">
    <h1 >Hey Bienvenido Administrador</h1>
    <a href="/admin/view">
        <input type="submit" value="visualizar y Modificar Usuarios">
    </a>
    <br>
    <a href="/admin/register">
        <input type="submit" value="Registrar Usuarios">
    </a>
    <br>
    <a href="/profile">
        <input type="submit" value="Salir del centro de administracion">
    </a>
    <h1>Cantidad de usuarios registrados:<%=cantidad%> </h1>
</section>
<%-include('./footer')%>