
<%-include('./header')%>
    <section class="contenedorUser">
        <form method="POST" class="crearPost" action="/publication/create" enctype="multipart/form-data">
            <div>
                <label for="imagePublication">imagen</label></div><div>
                <input type="file" id="imagePublication" name="imagePublication">
            </div>
            <div>
                <label for="description">descripcion</label></div><div>
                <input type="text" id="description" name="description">
            </div>
            <div>
                <button type="submit">Crear post</button>
            </div>
        </form>
    </section>
    <%-include('./footer')%>
