<%-include('./header') %>
    <section class="contenedorEditUser">
        <article>
    <form method="POST" action="/profile/<%=usuarioedit.id %>?_method=PUT" >
        <section class="boxFormulario">
            <label class="labelFormulario" for="passwordRegister">Inserte la nueva Contraseña</label>
            <input class="descriptionEdit" type="password" name="passwordEdit">
        </section>
        <div>
            <input class="botonEdit" type="submit" value="Cambiar">
        </div>
    </form>
</article>
</section>
    <%-include('./footer') %>