<footer class="footer">
    <section>
        <h1>Derechos reservados 2022</h1>
    </section>
    <section>
        <h1>Aliados Principales</h1>
        <a href="">Andar</a>
        <a href="">Car Frenos Garage</a>
        <a href="">Az Autormotriz</a>
    </section>
</footer>