<footer class="footer">
    <h1>Aliados Principales</h1>
    <section class="contenedorAliados">
        <a href="" class="selector">Andar</a>
        <a href="" class="selector">Car Frenos Garage</a>
        <a href="" class="selector">Az Autormotriz</a>
    </section>
    <section class="derechos">
        <h1>Derechos reservados 2022</h1>
    </section>
</footer>