
        <footer class="footer">
            <h3>Conoce Nuestros Aliados Principales:</h3>
            <section class="contenedorAliados">
                <a href="" class="selector">Andar</a>
                <a href="" class="selector">Car Frenos Garage</a>
                <a href="" class="selector">Az Autormotriz</a>
            </section>
            <section class="derechos">
                <h9>@Derechos reservados 2022</h9>
            </section>
        </footer>
    </body>
</html>