<header class="header">
    <img src="/public/img/CSCMedblanco (1).png" class="logoMain">
    <article class="main-top">
        <a href="/main" class="selector">Inicio</a>
        <a href="" class="selector">Perfil de Usuario</a>
        <a href="" class="selector">Cerrar sesion</a>
    </article>
</header>