<header class="header">
    <img src="/public/img/CSCMedblanco (1).png" class="logoMain">
    <article class="main-top">
        <a href="">Inicio</a>
        <a href="">Perfil de Usuario</a>
        <a href="">Cerrar sesion</a>
    </article>
</header>