<!--Implementacion del Head y su configuracion-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>ClubSpark</title>
    <link rel="stylesheet" href="/public/CSS/main.css">
    <link rel="stylesheet" href="/public/CSS/responsive.css">
    <link rel="stylesheet" href="/public/CSS/profile.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital@1&display=swap');
    </style>
    <!--Implementar libreria del google fonts-->
</head>
<body>
    <header class="header">
        <img src="/public/img/CSCMedblanco (1).png" class="logoMain">
        <article class="main-top">
        <a href="/publication" class="selector">Inicio</a>
        <a href="/profile" class="selector">Perfil de Usuario</a>
        <a href="/user/logout" class="selector">Cerrar sesion</a>
    </article>
    </header>