<!DOCTYPE html>
<html>
<!--Implementacion del Head y su configuracion-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <title>ClubSpark</title>
        <link rel="stylesheet" href="/public/CSS/formularios.css">
        <link rel="stylesheet" href="/public/CSS/main.css">
        <link rel="stylesheet" href="/public/CSS/responsive.css">
    <!--Implementar libreria del google fonts-->
    </head>

    <body>
    <!--Implementacion del header como cabezal de la pagina-->
        <header>
            <!--Aqui va la parte posterior del log y demas tratar de hacerlo fijo-->
        </header>
        <main>
            <!--Parte del cuerpo donde van a ir las publicaciones-->
        </main>
        <footer>
            <!--Parte del footer donde va air contacto y demas tratar de hacerlo fijo-->
        </footer>
    </body>
</html>