<!DOCTYPE html>
<html lang="en">
    <%- include('./head')%>
    <body class="mainBody">
    <main class="login">
        <article class="contenedorFormulario">
            <form class="formularioLogin" action="/" method="POST"> 
                <section class="boxFormulario">
                    <h2>¡Bienvenido!</h2>
                    <h4>Somos Club Spark Colombia</h4>
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="emailLogin">Correo</label>
                    <input class="formularioInput" type="email" name="emailLogin" id="emailLogin">
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="passwordLogin">Contraseña</label>
                    <input class="formularioInput" type="passwordLogin" name="passwordLogin">
                </section>
                <section class="boxFormulario">
                    <input class="botonIngresar" type="submit" value="Ingresar"></input>
                </section>
                <section class="boxFormulario">
                    <div class="cuenta">
                    <h1>¿No tienes cuenta?</h1>
                    <a href="/register">Registrate aqui</a>
                    </div>
                </section>
            </form>
        </article> 
    </main>
    </body>
</html>



