<!DOCTYPE html>
<html lang="en">
    <%- include('./head')%>
    <body>
    <main class="login">
        <section class="logoLogin">
            <h1>Imagen</h1>
        </section>
        <form class="formularioLogin" action="/">   
        <section class="boxFormulario">
            <div class="containerLogin">
                <label class="labelFormulario" for="emailLogin">Correo</label>
                <input class="formularioInput"  type="email" name="emailLogin">
            </div>
        </section>
        <section class="boxFormulario">
            <div class="containerLogin">
                <label class="labelFormulario" for="passwordLogin">Contraseña</label>
                <input class="formularioInput" type="password" name="passwordLogin">
            </div>
        </section>
        </form>

    </main>
    </body>
</html>



