<!DOCTYPE html>
<html lang="en">
    <%- include('./head')%>
    <body class="Body">
    <main class="login">
        <article class="contenedorFormulario">
            <form class="formularioLogin" action="/"> 
                <section class="boxFormulario">
                    <h3>¡Bienvenido!</h3>
                    <h4>Somos Club Spark Colombia</h4>
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="emailLogin">Correo</label>
                    <input class="formularioInput" type="email" name="emailLogin" id="emailLogin" placeholder="Email">
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="passwordLogin">Contraseña</label>
                    <input class="formularioInput" type="password" name="passwordLogin">
                </section>
                <section class="boxFormulario">
                    <input class="botonIngresar" type="submit" value="Ingresar"></input>
                </section>
                <section class="boxFormulario">
                    <h1>¿No tienes cuenta?</h1>
                    <a href="/register">Registrate aqui</a>
                </section>
            </form>
        </article> 
    </main>
    </body>
</html>



