<!DOCTYPE html>
<html lang="es">
<%-include('./head')%>
<body class="bodyMain">
    <%-include('./header')%>
    <main>
        <%-include('./publication')%>
    </main>
    <%-include('./footer')%>
</body>
</html>