<!DOCTYPE html>
<html lang="es">
<%-include('./head')%>
<body>
    <%-include('./header')%>
    <main>
        <h1>Aqui esta el menu principal Donde iran las publicaciones,mas recientes arriba</h1>
    </main>
    <%-include('./footer')%>
</body>
</html>