
    <%-include('./header')%>
    <section class="contenedorUser">
        <article class="contenedorImagenPerfil">
            <div>Imagen de Perfil</div>
        </article>
        <article class="itemGeneral">
            <div class="itemuser">
                <div>Nombre de Usuario:  sebastian</div>
            </div>
            <div class="itemuser">
                <div>Correo: sebastian @ </div>
            </div>
            <div class="itemuser">
                <a href="/src/views/createPublications.ejs">
                    <input type="submit" value="Crear Publicacion" >
                </a>
            </div>
            <div class="itemuser">
                <a href="/src/views/changePassword.ejs">
                    <input type="submit" value="Cambiar Contraseña" >
                </a>
            </div>
            <div>
                <a">
                    <input type="submit" value="cerrar session " >
                </a>
            </div>
        </article>
    </section>
    <%-include('./footer')%>