<!DOCTYPE html>
<html lang="es">
<%- include('./head')%>
<body class="BodyRegister">
    <main class="Register">
        <article class="contenedorFormularioRegister">
            <form class="formularioRegister" action="/Register"> 
                <section class="boxFormularioRegister">
                    <h3>¡Bienvenido!</h3>
                    <h4>Crea una cuenta y se parte del Club Spark Colombia</h4>
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="userName">Nombre de usuario</label>
                    <input class="formularioInput" type="text" name="userName" id="userName" placeholder="Nombre de usuario">
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="emailRegister">Correo</label>
                    <input class="formularioInput" type="email" name="emailRegister" id="emailRegister" placeholder="Email">
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="passwordRegister">Contraseña</label>
                    <input class="formularioInput" type="password" name="passwordRegister">
                </section>
                <section class="boxFormulario">
                    <label class="labelFormulario" for="passwordRegister2">Confirmar Contraseña</label>
                    <input class="formularioInput" type="password" name="passwordRegister2">
                </section>
                <section class="boxFormulario">
                    <label for="">Seleccione el tipo de usuario</label>
                    <select name="tipoDeusuario" id="tipoDeusuario">
                    <optgroup label="Tipo de usuario">
                        <option value="Comun">Comun</option>
                        <option value="Administrador">Administrador</option>
                    </optgroup>
                    </select>
                </section>
                <section class="boxformulario">
                    <label for="userImage">Ingrese una imagen de usuario menor a 1mb</label>
                    <br>
                    <input  class="formularioInputImage" type="file" name="userImage">
                </section>
                <section class="boxFormulario">
                    <input class="checkbox"type="checkbox" value="Acepta terminos y condiciones">
                    <label for="checkbox">Acepta terminos y condiciones</label>
                </section>
                <section class="boxFormulario">
                    <input class="botonIngresar" type="submit" value="Registrarse"></input>
                </section>
                <section class="boxFormularioRegister">
                    <h1>¿YA tienes cuenta?</h1>
                    <a href="/">Inicia Sesion aqui</a>
                </section>
            </form>
        </article> 


    </main>
    
</body>
</html>